<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统</title>
<link href="/static/admin/./lib.style.css?6f23609e446c3d13c338" rel="stylesheet"><link href="/static/admin/./style.css?6f23609e446c3d13c338" rel="stylesheet"></head>
<body>
    <!-- 定义视图 -->
    <div id="app"></div>
<script src="/static/admin/lib.js?6f23609e446c3d13c338"></script><script src="/static/admin/main.js?6f23609e446c3d13c338"></script></body>
</html>